<ion-header>
  <ion-toolbar>
    <ion-title>Update Password</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="form-container">
    <form [formGroup]="updatePasswordForm" (ngSubmit)="onSubmit()">
      <ion-item>
        <ion-label position="floating">Current Password</ion-label>
        <ion-input
          formControlName="currentPassword"
          [type]="currentPasswordType"
          (ionBlur)="checkCurrentPassword()"
        ></ion-input>
        <ion-icon
          name="{{ currentPasswordIcon }}"
          slot="end"
          (click)="togglePasswordVisibility('currentPassword')"
        ></ion-icon>
      </ion-item>
      <ion-text color="danger" *ngIf="updatePasswordForm.get('currentPassword')?.hasError('incorrectPassword')">
        Current password is incorrect.
      </ion-text>

      <ion-item>
        <ion-label position="floating">New Password</ion-label>
        <ion-input
          formControlName="newPassword"
          [type]="newPasswordType"
        ></ion-input>
        <ion-icon
          name="{{ newPasswordIcon }}"
          slot="end"
          (click)="togglePasswordVisibility('newPassword')"
        ></ion-icon>
      </ion-item>
      <ion-text color="danger" *ngIf="updatePasswordForm.get('newPassword')?.hasError('minlength')">
        New password must be at least 6 characters long.
      </ion-text>

      <ion-item>
        <ion-label position="floating">Confirm New Password</ion-label>
        <ion-input
          formControlName="confirmPassword"
          [type]="confirmPasswordType"
        ></ion-input>
        <ion-icon
          name="{{ confirmPasswordIcon }}"
          slot="end"
          (click)="togglePasswordVisibility('confirmPassword')"
        ></ion-icon>
      </ion-item>
      <ion-text color="danger" *ngIf="updatePasswordForm.hasError('passwordMismatch')">
        New passwords do not match.
      </ion-text>

      <ion-button expand="block" type="submit" [disabled]="updatePasswordForm.invalid">Update Password</ion-button>
    </form>
  </div>
</ion-content>
