<ion-header>
  <ion-toolbar>
    <ion-title>Update Email</ion-title>
    <ion-buttons slot="end">
      <ion-button color="success" (click)="dismissModal()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content
      pullingIcon="chevron-down-circle-outline"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing..."
    >
    </ion-refresher-content>
  </ion-refresher>

  <div class="form-container">
    <form [formGroup]="updateEmailForm" (ngSubmit)="updateEmail()">
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input formControlName="email" type="email"></ion-input>
      </ion-item>
      <div class="button-container">
        <ion-button type="submit" color="success" [disabled]="!updateEmailForm.valid">Update Email</ion-button>
      </div>
    </form>
  </div>
</ion-content>
