/* Header */
ion-header ion-toolbar {
  background-color: #1ed760;
  color: white;
}

ion-header ion-toolbar ion-buttons ion-button {
  --color: #1ed760;
}

/* Center Form */
.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh; /* Ajustar la altura para mover el formulario más arriba */
  margin-top: 10vh; /* Ajustar el margen superior */
}

form {
  width: 90%;
  max-width: 400px;
  margin: auto;
}

/* Form Items */
ion-content form ion-item {
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 20px; /* Bordes ovalados */
  --background: #333; /* Fondo oscuro */
}

ion-content form ion-label,
ion-content form ion-input,
ion-content form ion-icon {
  color: #ffffff; /* Texto blanco */
}

ion-content form ion-text.danger {
  color: #ff0000;
  background-color: #ffe6e6; /* Fondo rojo claro */
  padding: 5px 10px;
  border-radius: 10px; /* Bordes redondeados */
  display: block;
  text-align: center;
  margin-top: 5px;
}

/* Buttons */
.button-container {
  display: flex;
  justify-content: center;
}

ion-content form ion-button {
  --background: #1ed760;
  --color: white;
  border-radius: 20px; /* Bordes ovalados */
}

ion-content form ion-button:disabled {
  --background: #cccccc;
  --color: #666666;
}
