<!-- modal-update-email.component.html -->
<ion-header>
    <ion-toolbar>
      <ion-title>Update Email</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="dismissModal()">Close</ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <form [formGroup]="updateEmailForm" (ngSubmit)="updateEmail()">
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input formControlName="email" type="email"></ion-input>
      </ion-item>
      <ion-button type="submit" [disabled]="!updateEmailForm.valid">Update Email</ion-button>
    </form>
  </ion-content>
  