<ion-header>
  <ion-toolbar color="white">
    <ion-buttons slot="start">
      <ion-button [routerLink]="['/tabs/tab1']">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="header-title">
      <div class="header-title-wrapper">
        <span class="title-text">Perfil</span>
        <img src="assets/logo.png" alt="Logo" height="50px" class="logo-img">
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content
      pullingIcon="chevron-down-circle-outline"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing..."
    >
    </ion-refresher-content>
  </ion-refresher>

  <div class="welcome-message">
    
    ¡Bienvenido, {{ userEmail }}!

  </div>
  

  <ion-button class="custom-button" (click)="openUpdateEmailModal()">Update Email</ion-button>

  <ion-button class="custom-button" expand="block" (click)="openUpdatePasswordModal()">Update Password</ion-button>

  <ion-button class="custom-button" expand="block" (click)="openDeleteAccountModal()">Delete Account</ion-button>

<div class="spacer"></div>

  <div class="gender-selection">
    <span class="title">Por favor selecciona tu género</span>
    <div class="options">
      <div class="option" (click)="selectGender('male')">
        <input type="radio" id="radio-male" name="gender" value="male" class="radio" />
        <div class="background"></div>
        <div class="overlay"></div>
        <ion-icon name="male" class="icon text-blue-400" size="large"></ion-icon>
      </div>
      <div class="option" (click)="selectGender('female')">
        <input type="radio" id="radio-female" name="gender" value="female" class="radio" />
        <div class="background"></div>
        <div class="overlay"></div>
        <ion-icon name="female" class="icon text-pink-400" size="large"></ion-icon>
      </div>
      <div class="option" (click)="selectGender('non-binary')">
        <input type="radio" id="radio-non-binary" name="gender" value="non-binary" class="radio" />
        <div class="background"></div>
        <div class="overlay"></div>
        <ion-icon name="transgender" class="icon text-purple-400" size="large"></ion-icon>
      </div>
      <div class="option" (click)="selectGender('none')">
        <input type="radio" id="radio-none" name="gender" value="none" class="radio" />
        <div class="background"></div>
        <div class="overlay"></div>
        <ion-icon name="close" class="icon text-neutral-400" size="large"></ion-icon>
      </div>
    </div>
  </div>

  <div class="spacer"></div>

  <ion-button color="danger" (click)="logout()" class="logout-button">Logout</ion-button>
</ion-content>
