.header-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.header-title-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.title-text {
  flex: 1;
  text-align: center;
}

ion-content {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centra verticalmente */
  align-items: center; /* Centra horizontalmente */
  height: 100%;
}

.welcome-message {
  font-size: 20px;
  font-weight: bold;
  color: #333333;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  text-align: center;
  margin: 20px;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra los botones horizontalmente */
  margin-top: 20px; /* Espacio arriba de los botones */
}

.custom-button {
  width: 100%; /* Ocupa todo el ancho disponible */
  max-width: 300px; /* Máximo ancho para evitar que sean demasiado grandes */
  margin: 10px; /* Espacio entre botones */
  --background: #1db954; /* Color de fondo de Spotify */
  --background-activated: #1ed760; /* Color de fondo activo */
  --background-focused: #1db954; /* Color de fondo enfocado */
  --background-hover: #1ed760; /* Color de fondo al pasar el mouse */
  --background-pressed: #1db954; /* Color de fondo al presionar */
  --border-radius: 20px; /* Borde redondeado */
  --color: white; /* Color de texto */
  --box-shadow: none; /* Sin sombra */
}

.custom-button:hover {
  --background: #1ed760; /* Color de fondo al pasar el mouse */
}

.custom-button:active {
  --background: #1db954; /* Color de fondo al presionar */
}

.logout-button {
  width: 100%; /* Ocupa todo el ancho disponible */
  max-width: 200px; /* Máximo ancho para el botón de logout */
  margin: 10px; /* Espacio entre botones */
  margin-top: 10px; /* Espacio arriba del botón de logout */
  --background: #ff0000; /* Color rojo para logout */
  --background-activated: #ff3333; /* Color de fondo activo */
  --background-focused: #ff0000; /* Color de fondo enfocado */
  --background-hover: #ff3333; /* Color de fondo al pasar el mouse */
  --background-pressed: #ff0000; /* Color de fondo al presionar */
  --border-radius: 20px; /* Borde redondeado */
  --color: white; /* Color de texto */
  --box-shadow: none; /* Sin sombra */
}
