.header-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  
  .header-title-wrapper {
    display: flex;
    justify-content: center; /* Centra el contenido horizontalmente */
    align-items: center; /* Centra el contenido verticalmente */
    flex: 1; /* Ocupa todo el espacio disponible */
  }
  
  .title-text {
    flex: 1; /* Hace que el texto "Perfil" ocupe el espacio restante */
    text-align: center; /* Centra el texto horizontalmente */
  }
  
  
  


  ion-content {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  .welcome-message {
    font-size: 20px;
    font-weight: bold;
    color: #333333; /* Gris oscuro */
    padding: 20px;
    background-color: #FFFFFF; /* Blanco */
    border-radius: 8px;
    text-align: center;
  }
  
  
  ion-button {
    margin: 10px 20px;
  }
  
  
  .custom-button {
    width: calc(100% - 40px); /* To account for margins */
    margin: 20px 20px;
    --background: #1DB954; /* Spotify green color */
    --background-activated: #1ED760; /* Slightly lighter green for active state */
    --background-focused: #1DB954;
    --background-hover: #1ED760;
    --background-pressed: #1DB954;
    --border-radius: 10px;
    --color: white; /* Text color */
    --box-shadow: none; /* Remove any shadow to avoid default blue shadow */
  }
  
  
  
  .custom-button:hover {
    --background: #1ED760; /* Hover state */
  }
  
  .custom-button:active {
    --background: #1DB954; /* Active state */
  }
  


  .spacer {
    flex-grow: 1;
  }
  
  .logout-button {
    // Aplica la forma ovalada
    @extend .custom-button;
  
    // Centra el botón horizontalmente
    margin: 90px;
  
    margin-top: 180px; 
    max-width: 200px; 
  
    
  }
  




  


.gender-selection {
  margin: 50px 20px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow: hidden;
    padding: 1.5rem;
    border-radius: 0.375rem;
    box-shadow: 0 0 0.375rem rgba(0, 0, 0, 0.31);
  }
  
  .gender-selection .title {
    text-align: center;
    font-family: monospace;
    font-size: 1rem;
    font-weight: 900;
    text-transform: uppercase;
    color: #4a4a4a;
  }
  
  .gender-selection .options {
    display: flex;
    gap: 1rem;
  }
  
  .gender-selection .option {
    position: relative;
    display: flex;
    height: 50px;
    width: 50px;
    justify-content: center;
    align-items: center;
  }
  
  .gender-selection .radio {
    position: absolute;
    z-index: 10;
    height: 100%;
    width: 100%;
    cursor: pointer;
    opacity: 0;
  }
  
  .gender-selection .background {
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    padding: 1rem;
    box-shadow: 0 0 0.375rem rgba(0, 0, 0, 0.31);
    transition: transform 0.3s, box-shadow 0.3s;
  }
  
  .gender-selection .radio:checked ~ .background {
    transform: scale(1.1);
    box-shadow: 0 0 0.125rem rgba(0, 0, 0, 0.31);
  }
  
  .gender-selection .overlay {
    position: absolute;
    z-index: -10;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    transition: transform 0.5s;
  }
  
  .gender-selection .radio:checked ~ .overlay {
    transform: scale(5);
  }
  
  .gender-selection .icon {
    position: absolute;
  }
  
  .gender-selection #radio-male ~ .background {
    background-color: #bfdbfe;
  }
  
  .gender-selection #radio-male ~ .overlay {
    background-color: #93c5fd;
  }
  
  .gender-selection #radio-female ~ .background {
    background-color: #fecdd3;
  }
  
  .gender-selection #radio-female ~ .overlay {
    background-color: #fda4af;
  }
  
  .gender-selection #radio-non-binary ~ .background {
    background-color: #e9d5ff;
  }
  
  .gender-selection #radio-non-binary ~ .overlay {
    background-color: #c4b5fd;
  }
  
  .gender-selection #radio-none ~ .background {
    background-color: #f5f5f5;
  }
  
  .gender-selection #radio-none ~ .overlay {
    background-color: #e5e5e5;
  }
  
