<ion-header>
  <ion-toolbar>
    <ion-title>Delete Account</ion-title>
    <ion-buttons slot="end">

      <ion-button color="success" (click)="closeModal()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="deleteAccountForm" (ngSubmit)="verifyCredentials()">
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input formControlName="email" type="email" required></ion-input>
    </ion-item>


    <div class="button-container">
      <ion-button expand="full" type="submit" color="success">Verify and Delete Account</ion-button>
  </div>
    
  </form>

  
</ion-content>
