/* perfil.page.scss */

.header-title {
  --ion-color-base: var(--ion-color-primary); /* Cambia el color base según tu paleta de colores */

  .header-title-wrapper {
    display: flex;
    align-items: center;

    img {
      margin-left: 8px; /* Ajusta el margen izquierdo del logo según necesites */
      height: 50px; /* Ajusta la altura del logo */
    }

    span {
      font-size: 24px; /* Tamaño de fuente del título */
      font-weight: bold; /* Peso de la fuente del título */
      margin-right: auto; /* Empuja el título hacia la izquierda */
    }
  }
}

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px; /* Espacio superior para centrar el formulario */
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 350px;
  padding: 20px;
  border-radius: 20px;
  position: relative;
  background-color: #1a1a1a;
  color: #fff;
  border: 1px solid #333;
}

.title {
  font-size: 28px;
  font-weight: 600;
  letter-spacing: -1px;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 30px;
  color: #1a9855; /* Cambio de color a #1a9855 */
}

.title::before {
  width: 18px;
  height: 18px;
}

.title::after {
  width: 18px;
  height: 18px;
  animation: pulse 1s linear infinite;
}

.title::before,
.title::after {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  border-radius: 50%;
  left: 0px;
  background-color: #1a9855; /* Cambio de color a #1a9855 */
}

.message, 
.signin {
  font-size: 14.5px;
  color: rgba(255, 255, 255, 0.7);
}

.signin {
  text-align: center;
}

.signin a:hover {
  text-decoration: underline royalblue;
}

.signin a {
  color: #1a9855; /* Cambio de color a #1a9855 */
}

.flex {
  display: flex;
  width: 100%;
  gap: 6px;
}

.form label {
  position: relative;
}

.form label .input {
  background-color: #333;
  color: #fff;
  width: 100%;
  padding: 20px 5px 5px 10px;
  outline: 0;
  border: 1px solid rgba(105, 105, 105, 0.397);
  border-radius: 10px;
  text-align: center; /* Centrado del texto en los inputs */
}

.form label .input + span {
  color: rgba(255, 255, 255, 0.5);
  position: absolute;
  left: 10px;
  top: 0px;
  font-size: 0.9em;
  cursor: text;
  transition: 0.3s ease;
}

.form label .input:placeholder-shown + span {
  top: 12.5px;
  font-size: 0.9em;
}

.form label .input:focus + span,
.form label .input:valid + span {
  color: #1a9855; /* Cambio de color a #1a9855 */
  top: 0px;
  font-size: 0.7em;
  font-weight: 600;
}

.input {
  font-size: medium;
}

.submit {
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 10px;
  color: #fff;
  font-size: 16px;
  transform: .3s ease;
  background-color: #1a9855; /* Cambio de color a #1a9855 */
}

.submit:hover {
  background-color: #1a9855d4; /* Añadir transparencia para el hover */
}

.validation-message {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ff0000; /* Color rojo para los mensajes de validación */
  margin-top: 10px;
  font-size: 14px;
}

@keyframes pulse {
  from {
    transform: scale(0.9);
    opacity: 1;
  }

  to {
    transform: scale(1.8);
    opacity: 0;
  }
}
.title::before {
  width: 18px;
  height: 18px;
}

.title::after {
  width: 18px;
  height: 18px;
  animation: pulse 1s linear infinite;
}

.title::before,
.title::after {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  border-radius: 50%;
  left: 0px;
  background-color: #1a9855;
  
}
.ion-text-center {
  text-align: center;
}

.ion-margin-top {
  margin-top: 16px;
}

.password-toggle {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
