<ion-header>
  <ion-toolbar color="white">
    <ion-title class="header-title">
      <div class="header-title-wrapper">
        <span>espotifai</span>
        <img src="assets/logo.png" alt="Logo" height="50px">
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header> 

<ion-content class="ion-padding">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content
      pullingIcon="chevron-down-circle-outline"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing..."
    >
    </ion-refresher-content>
  </ion-refresher>

  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="form">
    <p class="title">Register</p>
    <p class="message">Signup now and get full access to our app.</p>

    <label>
      <input formControlName="email" class="input" type="email" placeholder="" required>
      <span *ngIf="registerForm.get('email')?.hasError('required') && registerForm.get('email')?.touched">Email is required</span>
      <span *ngIf="registerForm.get('email')?.hasError('email') && registerForm.get('email')?.touched">Enter a valid email</span>
      <span>Email</span>
    </label>

    <label class="password-label">
      <input formControlName="password" class="input" [type]="passwordFieldType" placeholder="" required>
      <ion-icon name="eye" (click)="togglePasswordVisibility('password')"></ion-icon>
      <span *ngIf="registerForm.get('password')?.hasError('required') && registerForm.get('password')?.touched">Password is required</span>
      <span *ngIf="registerForm.get('password')?.hasError('minlength') && registerForm.get('password')?.touched">Password must be at least 6 characters</span>
      <span>Password</span>
    </label>

    <label class="password-label">
      <input formControlName="confirmPassword" class="input" [type]="confirmPasswordFieldType" placeholder="" required>
      <ion-icon name="eye" (click)="togglePasswordVisibility('confirmPassword')"></ion-icon>
      <span *ngIf="registerForm.get('confirmPassword')?.hasError('required') && registerForm.get('confirmPassword')?.touched">Confirm Password is required</span>
      <span *ngIf="registerForm.hasError('passwordMismatch') && registerForm.get('confirmPassword')?.touched">Passwords do not match</span>
      <span>Confirm password</span>
    </label>

    <button type="submit" class="submit">Submit</button>
    <p class="signin">Already have an account? <a routerLink="/login">Sign in</a> </p>
  </form>
</ion-content>
